body {
	font-family: 'Alike Angular';
	font-size: 15px;
	padding-top: 10px;	
}

html, body {
	height: 100%;
}

#wrap {
	min-height: 100%;
}

.container {
	max-width: 800px;
}

.header {
	padding-right: 15px;
	padding-left: 15px;
	border-bottom: 4px double #e66e6a;
}

h2 {
	font-family: Lobster;
	font-size: 37px;
}

h2 small {
	color: gray;
}

.header .nav {
	font-size: 16px;
	padding-top: 40px;
}

.header li a,
.header li a:focus,
.header li a:hover,
.header li a:active {
	color: gray;
	border: 2px solid white;
	padding: 5px 10px;
}

.header li.active a,
.header li.active a:focus,
.header li.active a:hover,
.header li.active a:active {
	background-color: white;
	color: black;
	border: 2px solid #e66e6a;
	padding: 5px 10px;
}

.main {
	padding-top: 10px;
	padding-bottom: 80px;
}

.main h2 {
	color: #e66a6a;
}

.main img {
	border: 3px solid #e66a6a;
	margin: 10px;
	margin-top: 0px;
}

.footer {
	position: relative;
	margin-top: -60px;
	height: 60px;
	clear: both;
	padding: 20px;
	background-color: #e66a6a;
}

.footer p {
	font-size: 12px;
	color: white;
	padding-bottom: none;
}

#resume {
	border: 3px solid #e66a6a;
	height: 800px;
	margin-top: 20px;
	margin-left: 25px;
	margin-right: 25px;
	margin-bottom: 10px;
}

#print {
	color: gray;
	font-size: 19px;
	border: none;
	margin-right: 25px;
}

#contact a {
	color: gray;
	font-size: 19px;
	border: none;
}

#contact {
	color: #e66a6a;
	font-size: 17px;
	font-weight: bold;
}
