body {
	padding-top: 10px;
	padding-bottom: 20px;
}

.header {
	padding-right: 15px;
	padding-left: 15px;
	border-bottom: 1px solid #e5e5e5;
}

.header .nav {
	font-size: 18px;
	padding-top: 30px;
}

.header li a,
.header li a:focus,
.header li a:hover,
.header li a:active {
	color: black;
	border: 2px solid white;
	padding: 5px 10px;
}

.header li.active a,
.header li.active a:focus,
.header li.active a:hover,
.header li.active a:active {
	background-color: white;
	color: black;
	border: 2px solid #e8d34a;
	padding: 5px 10px;
}
