body {
	padding-top: 10px;
}

.container {
	max-width: 800px;
}

.header {
	padding-right: 15px;
	padding-left: 15px;
	border-bottom: 3px solid #de7690;
}

.header .nav {
	font-size: 16px;
	padding-top: 30px;
}

.header li a,
.header li a:focus,
.header li a:hover,
.header li a:active {
	color: gray;
	border: 2px solid white;
	padding: 5px 10px;
}

.header li.active a,
.header li.active a:focus,
.header li.active a:hover,
.header li.active a:active {
	background-color: white;
	color: black;
	border: 2px solid #de7690;
	padding: 5px 10px;
}

.main {
	padding-top: 20px;
	padding-bottom: 20px;
}

.main h2 {
	color: #de7690;
}

.main img {
	border: 2px solid #de7690;
	margin: 10px;
	margin-top: 0px;
}

.footer {
	padding: 20px;
	background-color: #de7690;
}

.footer p {
	font-size: 14px;
	color: white;
}
